<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>

    <nav>
        <ul>
        <li id="to-left">
        <a href = "/auth/signup">Signup</a><span> | </span>
        <a href = "/auth/login">Login</a><span> | </span>
        <form id="logout-form" action="/auth/logout" method="POST">
            <button>Logout</button>
        </form><span> | </span>
        <a href = "/auth/users/profile">Profile</a>
        </li>

        <li id="to-right">
        <a href = "/">Home</a><span> | </span>
        <a href = "/animes/shows">Animes</a><span> | </span>
        <a href = "/animes/anime-entry">Create Anime Entry</a>
        </li>
        </ul>
        </nav>
    {{{body}}};
    <h3>"Everyone has their own circumstances" - Roronoa Zoro</h3>

    {{!-- <script src="/js/script.js"></script> --}}
</body>
</html>